.intro-image {
  width: 100%;
  height: auto;
  margin-top: 0px;
}
.intro-image-absolute {
  max-width: none;

  padding: 0;
  margin-bottom: 2px;
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: 0px;
    left: -20px;
  }
  @include media-breakpoint-up(lg) {
    bottom: -40px;
    left: -10px;
  }
  @include media-breakpoint-up(xl) {
    bottom: -80px;
    left: -10px;
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
